name: Workflow
on:
  push:
    branches: [ main ]
    tags:
      - v**
  pull_request: { }

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  check-commits:
    permissions:
      contents: read
      pull-requests: write
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-check.yml@v5
    with:
      build-tool: uv
      python-version: '3.14'

  lint:
    strategy:
      fail-fast: false
      matrix:
        pyversion: [ "3.11", "3.12", "3.13", "3.14" ]
    uses: BlindfoldedSurgery/actions-python/.github/workflows/lint.yml@v6
    with:
      build-tool: uv
      python-version: ${{ matrix.pyversion }}

  lint-tests:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/lint.yml@v6
    with:
      build-tool: uv
      context-path: "tests/"
      python-version: "3.14"

  test:
    strategy:
      fail-fast: false
      matrix:
        pyversion: [ "3.11", "3.12", "3.13", "3.14" ]
    uses: BlindfoldedSurgery/actions-python/.github/workflows/test.yml@v6
    with:
      build-tool: uv
      python-version: ${{ matrix.pyversion }}

  all-checks:
    runs-on: ubuntu-24.04
    if: "!cancelled() && github.event_name == 'pull_request'"
    needs:
      - test
      - lint
      - lint-tests
      - check-commits
    steps:
      - run: |
          if [ "true" == "${{ contains(needs.*.result, 'failure') }}" ]
          then
            echo "A required job failed"
            exit 1
          else
            echo "All required jobs passed"
          fi

  bump:
    permissions:
      contents: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-bump.yml@v5
    needs:
      - lint
      - lint-tests
      - test
    secrets:
      GH_TOKEN: ${{ secrets.GH_PR_TOKEN }}
    with:
      build-tool: uv
      python-version: '3.14'

  publish_package:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/publish-package.yml@v6
    needs:
      - lint
      - lint-tests
      - test
    if: success() && startsWith(github.ref, 'refs/tags/v')
    with:
      build-tool: uv
      python-version: '3.11'
      pypi-username: ${{ vars.PYPI_USERNAME }}
    secrets:
      pypi-password: ${{ secrets.PYPI_PASSWORD }}
